# Created by .ignore support plugin (hsz.mobi)
*.db-journal
*.pyc
*.egg-info
.cache
.DS_Store
.coverage
build/
dist/
.idea/
__pycache__/
.pytest_cache/
tests/data/norm/tmp/
tests/data/test/
docs/_build/
norm.egg-info/