#ace-editor {
    overflow-x: hidden !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dash-spreadsheet-menu {
    margin-top: 1em;
    margin-bottom: 1em;
    display: none; !important;
}

.dcc-graph-contrainer .row {
    display: block;
    margin: 0;
}

p[id^="editor"] {
    text-align: center;
    margin-left: 0;
    margin-top:0.5em;
    height: 3em;
}

.Select-menu-outer {
display : block !important;
}

.input-group-text {
    font-size: 16px; !important;
}